@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import '../node_modules/normalize.css/normalize.css';

* {
  font-family: 'Roboto', sans-serif;
}

.pagetemplate {
  width: 100%;
}

.navigationlist {
  list-style: none;
  display: flex;
  width: 95%;
  flex-direction: row;
  justify-content: flex-start;
  padding: 50px 0 0 50px;
}

.navigationlist li {
  width: 100px;
  text-align: center;
  padding: 6px; 
  font-size: 1.11rem; 
  font-weight: 300; 
}

.navigationlist li a {
  text-decoration: none;
  color: #8a8a8a; 
}

.activeLink {
  color:#4c4c78;
  border-bottom: 2px solid #d5d2ff;
  box-shadow: inset 0 -4px 0 #d5d2ff;
  color: inherit;
  transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}

.activeLink:hover {
  background: #d5d2ff;
}



/* MainHeader Style */

.headerLeft {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 80px;
  margin-top: -110px; 
}

h1 {
  margin-top: 60px;
  color: #111111;
  font-size: 2.35rem;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.headerRight {
  width: 65%;
  background: url("./img/undraw_on_the_office_fbfs.svg") no-repeat;
  background-size: cover;
  height: 100%;
  margin-top: -100px;
  margin-left: 50px;
 }

button {
  background-color: #de7474;  
  border-radius: 5px;
  border: none;
  padding: 10.5px 0 10.5px 0;
  width: 145px;
  box-shadow: 0 0 20px #eee;
  transition: 0.5s;
}

button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12.5px;
  line-height: 1.15;
  letter-spacing: 0.1px;
  font-weight: 300;
  text-transform: uppercase;
}

button:hover {
  background-color: indianred;
}

.googleplay img {
  width: 150px;
  margin-top: 5px;
}


/* Quote */
.quote {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 2.55rem;
  color: #424242;
  margin-top: 23%;
}


/* How It Works Style */

h2 {
  margin-top: 130px;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}

.CardTittle {
  font-size: 18px;
  margin-top: 40px;
  width: 65%;
  color: #fbfbfb; 
  text-align: center;
  font-weight: 400;
}

.CardText {
  font-size: 16px;
  margin-top: -5px;
  margin-bottom: 40px;
  width: 75%;
  color: #fbfbfb;
  line-height: 2.2rem;
  text-align: center;
  font-weight: 400;
}


/* Teachers */

.teachersimg {
  width: 85%;
  margin-left: 40px;
}

.teachers {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 2.55rem;
  color: #424242;
}

.teachers a {
  text-decoration: none;
  color: #7b7e91;
  border-bottom: 2px solid #d5d2ff;
  box-shadow: inset 0 -4px 0 #d5d2ff;
  color: inherit;
  transition: background 0.1s cubic-bezier(.33,.66,.66,1);
  font-family: 'Roboto', sans-serif;
}

.buttontrial {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.buttontrial a {
  font-size: 0.9rem;
  padding: 20px;
  letter-spacing: 0.5px;
}


/* Footer */

.footersocial {
  list-style: none;
  display: flex;
  flex-direction: wrap;
  margin-left: -30px;
}

.footersocial li {
  margin-left: 10px;
  margin-right: 10px;
}

.footertext {
 font-size: 0.8rem;
 font-family: 'Roboto', sans-serif;
 color: #7b7e91;
}





/*

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
